@import 'variables';

.messages {
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 20px;
  box-sizing: border-box;
}

.message {
  width: 100%;
  .body {
    width: 55%;
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 0px;
  }
  .from {
    width: 55%;
    display: block;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .content {
    font-size: 16px;
  }
  .timeStamp {
    color: $GREY;
    font-size: 12px;
    text-align: right;
    font-style: italic;
    margin: 0px 10px;
    margin-bottom: 12px;
  }
  &.group.first {
    .body {
      margin-bottom: 5px;
    }
    .timeStamp {
      display: none;
    }
  }
  &.group.middle {
    .body {
      margin-bottom: 5px;
    }
    .timeStamp {
      display: none;
    }
    .from {
      display: none;
    }
  }
  &.group.last {
    .from {
      display: none;
    }
  }
  &.bot .body {
    float: left;
    background-color: $SECONDARY;
  }
  &.human .body {
    float: right;
    background-color: $TERTIARY;
  }
  &.bot .from {
    float: left;
    font-weight: bold;
  }
  &.human .from {
    float: right;
    text-align: right;
    margin-right: 25px;
    font-weight: bold;
  }
  &.bot .timeStamp {
    float: left;
    clear: both;
  }
  &.human .timeStamp {
    float: right;
    clear: both;
  }
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
  .body.image {
    width: auto;
    background-color: transparent;
    padding: 0;
    img {
      border-radius: 10px;
    }
  }
}
