http://*:3000 {
  root ./dist/

  rewrite {
    if {path} not_match \/(api|socket)/.*
    if {file} not_match (.*\.js|.*\.html|.*\.css)
    to /index.html
  }

  proxy /api backend:3000

  proxy /socket backend:3000 {
    keepalive 0
    transparent
    websocket
  }

}
